<!DOCTYPE html>
<html>
<head>
    <title>my first page</title>
    <style>
        body{
            text-align: center;
        }
        button {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Email Spam Classifier</h1>
    <form method="post">
        <textarea name="email-content" placeholder="Enter your email Body" rows="15" cols="25"></textarea>
        <div>
            <button>Check Spam</button>
            <a href="/">Reset</a>
        </div>
    </form>
    <h2>
        {{
            text
        }}
    </h2>
</body>
</html>